@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.video-player {
    width: 100%;
    background: #1a1a1a;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 1px 4px 8px rgba(5, 5, 5, 0.548);
    margin-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.context-menu-item {
    color: white;
    background-color: #282828;
    border-radius: 2px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    width: 180px;
    text-align: center;
  }
  .context-menu-item:hover {
    background-color: #333333;
  }
  .context-menu{
      display: block;
  }
  .testes{
      width: 1080px;
  }